.offer {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}
.image-links {
    width: 33.333%;
}
.image-links a {
    display: block;
}
.our-offer {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.our-offer:hover {
    transform: scale(1.05);
    transition: all 1s;
}

@media screen and (max-width: 769px) {
    .offer {
        flex-direction: column;
    }
    .image-links {
        width: 94%;
        margin: 0 auto;
    }
}