.service-img {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.service-img img {
    height: 360px;
    width: 100%;
}
.service-price {
    text-align: center;
    font-size: 20px;
    margin: 5px 0 15px 0;
    color: green;
}
.category {
    display: flex;
    justify-content: space-between;
}
.category button {
    text-transform: none;
}
.category button:hover {
    background-color: #d7eefa;
}
.service-quantity p {
    font-weight: 600;
    margin-bottom: 5px;
}
.service-quantity fieldset{
    top:0px;
}
.service-quantity,
.service-quantity input {
    text-align: center;
}
.service-quantity button {
    padding: 7px 15px;
}
.PrivateNotchedOutline-root-16 {
    top:0px;
}
.btn-wrap {
    justify-content: center;
    margin-bottom: 5px;
}

/* Menu and Submenu */
.menu {
    position: relative;
}
.submenu {
    position: absolute;
    list-style: none;
    display: none;
    width:100% ;
}
.menu:hover .submenu{
    display: block;
    background-color: whitesmoke;
    z-index: 1;
    border-radius: 5%;
    list-style: none;
    width:105%;

}
/* щоб при наведенні на пункти підменю сам пункт меню був активний */
.menu:hover {
    background-color: #048bda;
    border-radius: 6px;
}
.list {
    list-style: none;
    padding: 0;
}


.show-images {
    height: 350px;
    width: 300px;
}

@media screen and (max-width: 769px) {
    .service-quantity button {
        padding: 7px 30px;
    }
}
